<!doctype html>
<html>
	<head>
		{% block head %}
		{%block style%} {%endblock%}
		<link rel="shortcut icon" href="/static/favicon.ico"/>

		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% endblock %}
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<div id="content">{% block content %}{% endblock %}<a href="/">index</a></div>
		<div id="footer">
			{% block footer %}
			Made in 2016 by <a href="http://profiles.web.cern.ch/805840">rcastell</a>.
			{% endblock %}
		</div>
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>
