{% extends "home.html" %}
{%block pagetitle%}
salv_home
{%endblock%}
{%block title%}
SALV_HOME
{%endblock%}
{%block pagestyle%}
<link href="static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="static/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
{%endblock%}
{% block content %}
<div class="portlet light bordered">
	<form action="/read_python"  method="POST" class="form-horizontal form-bordered">
		<div id="timber_data" class="form-actions">
			<button class="btn blue" type="button" onclick=update1()> update1 </button>

			<button class="btn red" type="button" onclick=update2()> update2 </button>
			<button class="btn green" type="button" onclick=update3() > update3 </button>
		</div>
	</form>
</div>
<div class="portlet light bordered" id='update1'>
</div>
<div class="portlet light bordered" id='update2'>
</div>
<div class="portlet light bordered" id='update3'>
</div>
{% endblock %} 
{%block scripts_bottom%}
<script src="static/salv_home.js" type="text/javascript"></script>
{%endblock%}
